* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    @media screen and (min-width: 200px) {
        body {
            color: white;
            width: 100vw;
            height: 100vh;
            background: url("https://images.unsplash.com/photo-1516147022364-bd6a2ea8fbf4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80") center center fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            font-family: 'Merriweather Sans', sans-serif;
            text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
            letter-spacing: 0.1rem;
            header {
                align-items: center;
                display: flex;
                justify-content: center;
                height: 30vh;
                width: 100%;

                form {
                    width: 100%;
                    display: flex;
                    justify-content: center;

                    .searchfield {
                        font-weight: 600;
                        position: relative;
                        //margin: auto;
                        width: 55vw;
                        height: 3rem;
                        outline: none;
                        border: none;
                        background: #ffffff;
                        color: #111;
                        text-shadow: 0 0 10px #ccc;
                        border-radius: 30px;
                        box-shadow: 12px 13px 25px 0 #111,
                            8px 9px 25px 0 rgba(0, 0, 0, 0.2);
                        transition: all 1s;
                        font-weight: bolder;
                        letter-spacing: 0.1rem;
                        text-align: center;

                        &:hover {
                            cursor: pointer;
                        }

                        &:focus {
                            cursor: text;
                        }
                    }

                    button {
                        font-weight: 600;
                        position: relative;
                        height: 3rem;
                        width: 3rem;
                        //margin: auto;
                        outline: none;
                        border: none;
                        background: #ffffff;
                        color: #111;
                        text-shadow: 0 0 10px #ccc;
                        border-radius: 50%;
                    }
                }

            }

            section {
                margin-top: 4rem;
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;

                .card {
                    width: 300px;
                    height: 380px;
                    margin: 30px;
                    background: radial-gradient(140% 140% at 0% 0%,
                            rgba(255, 255, 255, 0.4)0%,
                            rgba(255, 255, 255, 0)100%);
                    border-top: 1px solid #eeeded70;
                    border-left: 1px solid #eeeded70;
                    border-radius: 30px;
                    box-shadow: inset -5px -5px 250px rgba(255, 255, 255, 0.02);
                    backdrop-filter: blur(20px);
                    display: flex; 
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .iconholder{
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        font-size: small;

                    }

                    .textcontainer {
                        margin-top: 1rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 1rem;

                         h1{
                           font-size: xx-large;
                           font-weight: 600;
                        }

                        .textcontainerright {
                            //margin: 1rem;
                            display: flex;
                            flex-direction: column;
                        }
                    }
                }
            }
        }
    }
    @media screen  and (min-width:668px) {
        body{
            section{
                width: 100%;
                
                flex-flow: row-reverse wrap;
                position: relative;

                .card{
                    flex: 0 1 calc(15% - 8px); /* <-- adjusting for margin */ 
                }
            }
        }
        
    }

}